@using Kendo.Mvc.UI;
@using DataModel;
@{
    /**/

    ViewBag.Title = "State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .k-button k-button-icontext k-grid-edit, k-button k-button-icontext k-grid-delete {
        background-color: burlywood;
    }

    .k-window-content k-content {
        overflow: auto;
    }

    #grid1 {
        margin-top: 35px;
        margin-left: 66px;
    }

    .k-state-active {
        display: none;
    }

    }

    element.style {
    }

    a.k-button.k-button-icontext .k-icon, a.k-button.k-button-icontext .k-image {
        vertical-align: text-top;
    }
</style>
@*<link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/kendo/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="~/Scripts/kendo/kendo.all.min.js"></script>
    <link href="~/CSS/css/style.css" rel="stylesheet" />*@

<style>
    .openbtn {
        /*font-size: 20px;*/
        cursor: pointer;
        background-color: burlywood;
        color: white;
        padding: 10px 15px;
        border: none;
        margin-top: -22px;
        margin-left: 55px;
    }
</style>

<style>
    div.k-window {
        display: inline-block;
        position: absolute;
        width: 500px;
        margin-left: -19px;
        z-index: 10001;
        border-style: solid;
        border-width: 1px;
        padding-top: 2em;
        left: -6px;
        margin-top: -1px;
    }

    /*div.k-window-content {
        position: relative;
        height: 100%;
        padding: .58em;
        outline: 0;
    }*/


</style>




<script type="text/javascript">
    function show(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#imgadd').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
    function show1(input) {
        if (input.files && input.files[0]) {
            var filerdr = new FileReader();
            filerdr.onload = function (e) {
                $('#imgabout').attr('src', e.target.result);
            }
            filerdr.readAsDataURL(input.files[0]);
        }
    }
</script>



<div class="row content_start">
    @******************toolbar start****************************@
    <div class="row">

        <div class="row">
            <div class="head-left breadcrumbs">Hotel Management &gt;<span class="breadcrumbsActive"> State</span></div>
        </div>

        <div class="row ribbon">
            <div class="col-sm-6 hdrLeft" style="margin-top: 60px;margin-left: 117px;">
                @*<span class="grid_head" id="btn_new" style="margin-left:59px;">&#43; Add State</span>*@

                <button class="openbtn" id="btn_new" onclick="openNav()" style="border-radius:8px;color:black">+Add New</button>
                <span class="grid_head">
                    <span id="hdrDropdown">
                        @( Html.Kendo().DropDownList()
                                                                   .Name("ActionDropdown")
                                                                   .DataTextField("Text")
                                                                   .DataValueField("Value")
                                                                   .HtmlAttributes(new { style = "height: 27px;font-size:13px;" })
                                                                   .OptionLabel("More Action")
                                                                   .BindTo(new List<SelectListItem>() {
                                                                                                                              new SelectListItem() {
                                                                                                                                  Text =  "Activate",
                                                                                                                                  Value = "1"

                                                                                                                              },
                                                                                                                               new SelectListItem() {
                                                                                                                                  Text = "Deactivate",
                                                                                                                                  Value = "2"
                                                                                                                              },
                                                                                                                              new SelectListItem() {
                                                                                                                                  Text = "Import",
                                                                                                                                  Value = "3"
                                                                                                                              },

                                                                                                                               new SelectListItem() {
                                                                                                                                  Text = "Export",
                                                                                                                                  Value = "4"
                                                                                                                              },
                                                                                                                               new SelectListItem() {
                                                                                                                                  Text = "Refresh",
                                                                                                                                  Value = "5"
                                                                                                                              },
                                                                                                                                new SelectListItem() {
                                                                                                                                  Text = "Print",
                                                                                                                                  Value = "6"
                                                                                                                              }
})
.Template("<img  src='https://kencloudadmin.blob.core.windows.net/kencloudecosysadmin/More Actions/" + "${Value}.png' width='15' height='15' />" + "<span style='margin-left: 5px;'>${Text}</span>"))
                    </span>
                </span>

            </div>
            @*<div class="col-sm-6 hdrRight" style="margin-left: 964px;
                margin-top: -28px;">
                            <input type="text" id="textboxIconRight" placeholder="Search by Category/Name/Company" title="Type in a name" class="serach_bar hdrfield">
                            <span class="km-icon km-search" onclick="onSearch()"></span>

                            <span class="km-icon km-search"></span>
                        </div*@>

        </div>




    </div>
</div>

@*------------------------grid-----------------------------------------*@

<div class="row" id="chkBoxGrid" style=" margin-top:6px;
            margin-left: 146px;">
    @(Html.Kendo().Grid<HTMS.Models.StateModel>()
                                            .Name("grid")
                                            .Columns(columns =>
                                            {
                                    //columns.Select().Width(30);
                                    //columns.Bound(p => p.id).Hidden();
                                    // columns.Bound(p => p.IsChecked).ClientTemplate("<input type='checkbox' id='chkbox' class='chkbox' /> ").Title("").Width(2).Filterable(false);
                                    columns.Bound(p => p.StateName).Width(80).Title("StateName").Width("30");
                                                columns.Bound(p => p.CityName).Width(80).Title("CityName");

                                    //   columns.Bound(p => p.BedId).Width(80).Title("BedNo");
                                    // columns.Bound(p => p.Description).Width(80).Title("Description").Width("30");
                                    // columns.Bound(p => p.InsertedOn).Width(260).Title("InsertedOn");
                                    columns.Command(command => { command.Edit(); command.Destroy(); }).Title("Actions").Width("30");

                                            })
                                        .Editable(editable => editable.Mode(GridEditMode.PopUp))
                                         .Pageable()
                                        .Sortable()
                                        // .Events(ev => ev.Change("onChange"))
                                        // .PersistSelection()
                                        .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model => model.Id(p => p.StateName))
                                            .Read(read => read.Action("BindAllCity", "City"))
                                            .Update(update => update.Action("EditingPopup_Update", "City"))
                                            .Destroy(update => update.Action("Deletecity", "City"))
                                        )
    )

    <script>
        function onChange(arg) {
            kendoConsole.log("The selected product ids are: [" + this.selectedKeyNames().join(", ") + "]");
        }
    </script>
    <div class="box wide">
        <div class="console"></div>
    </div>
    <style>
        .console div {
            height: 3.3em;
        }
    </style>
</div>


@*======================================================<  Add new Part    >=====================================*@


<script>
    $("#btn_new").click(function (e) {
        debugger
        e.preventDefault();
        $("#AddDetails").data("kendoWindow").center().open();
        $("#newAdd").show();
        //btnReset_Click();
        $("#btnSave").kendoButton({}).data("kendoButton").enable(true);

    });
</script>

<div class="col-md-12">
    @(Html.Kendo().Window().Name("AddDetails")
                                                                                        .Title("Add RoomType ")
                                                                                        .Visible(false)
                                                                                        .Modal(true)
                                                                                        .Content(@<text>
                                                                                            <div style="width:100%" id="fieldlist">
                                                                                                @Html.Partial("_partialAddState")
                                                                                            </div>
                                                                                        </text>)


                                                                                                                    .Actions(actions => actions.Close())

    )
</div>

<script type="text/javascript">
    function onClose() {
        debugger;
        $("#newAdd").show();
        // btnReset_Click();
    }
    $(document).ready(function () {
        $("#newAdd").bind("click", function () {
            debugger;
            $("#AddDetails").data("kendoWindow").center().open();
            $("#newAdd").show();
            $("#btnSave").kendoButton({}).data("kendoButton").enable(true);
        });
    });
</script>




@*<script type="text/javascript">
        function btnSave_Click() {
            debugger;
            var validator = $("#save-container").kendoValidator().data("kendoValidator");
            if (validator.validate()) {
                var roomtypeModel = {

                    RoomName: $('#txtroomtype').val(),
                    Max_Adult_No: $('#txtadult').val(),
                    Max_Child_No: $('#txtchild').val(),
                    BedId: $('#txtbed').val(),
                    Description: $('#txtroomstatus').val(),
                    RoomStatusId: $('#txtbed').val(),


                }
                var model = {
                    "about": roomtypeModel
                }
                $.ajax({

                    type: "POST",
                    url: "/RoomType/AddRoomType",
                    data: model,
                    datatype: "json",
                   // contentType: "application/json; charset=utf-8",
                    cache: false,
                    success: function (data) {

                    },
                });
                //btnReset_Click();
                var wnd = $("#AddDetails").data("kendoWindow");
                wnd.center().close();
                //alert("Added successfully!");
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.read();
            }
            else {
                return false;
            }
        }
        //function btnReset_Click() {
        //    debugger
        //    document.getElementById("txtHeader").value = "";
        //    $(".k-upload-files.k-reset").find("li").remove();
        //    $(".k-upload-status-total").remove();

        //    $('#imgadd').attr('src', '');

        //    document.getElementById("txtContactDescription").value = "";
        //   return;
        //}
    </script>*@

@*-----------------------------Add function---------------------------------*@

<script type="text/javascript">

    function btnSave_Click() {
        debugger;

        var validator = $('#save-container').kendoValidator().data("kendoValidator");


        if (validator.validate()) {


            var prdModel = {

                State: $("#txtState").val(),
                City: $("#txtCity").val(),


            }
            var model = {
                "obj": prdModel
            }
            $.ajax({
                type: "POST",
                url: "/City/AddCity",

                data: model,
                dataType: "json",
                success: function (data) {
                    if (data) {

                        debugger;

                        // btnReset_Click();
                        // location.reload();
                        alert("City added Successfully");
                        location.reload();
                        var grid = $('#grid').data("kendoGrid");
                        grid.dataSource.read();

                        return true;
                    }
                    else
                        return false;
                },
                error: function (err) {
                    alert("fail");

                }
            });
            // closeNav();
            var grid = $('#grid').data("kendoGrid");
            grid.dataSource.read();
        }
    }

</script>

